@model Employee
@{
    ViewBag.Title = "Employee Details";
}


<body style="margin: 50px;">
    <partial name="_TimeBox"/>
    <h4>ID: <i>@Model.Id</i></h4>
    <h4>Name: <i>@Model.Name</i></h4>
    <h4>E-mail: <i>@Model.Email</i></h4>
</body>
